.App {
  background-image: url('images/bg.jpg');
  background-size: cover;
  text-align: center;
  background-position: center;
  min-height: 100vh;  
  padding: 20px; 
 }



.task-form input {
  padding: 5px;
  margin-right: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: grab;
}

.task-list li.completed {
  background-color: #f0f0f0;
}

.filters {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

